


      <!-- Loader -->
       <!-- <div class="loader">
    		<div class="loader-img"></div>
    	</div> -->

      <app-navbar></app-navbar>

      <app-top-content></app-top-content>

      <app-what-we-do></app-what-we-do>

      <!-- <app-clients></app-clients> -->

		<!-- Block 2 -->
        <!-- <div class="block-2-container section-container">
	        <div class="container">
	            <div class="row">
	            	<div class="col-sm-6 block-2-box block-2-left block-2-media wow fadeInLeft">
	            		<div class="block-2-img-container">
	            			<img src="assets/img/about/4.jpg" alt="" data-at2x="assets/img/about/4.jpg">
	            			<div class="img-container-line line-1"></div>
	            			<div class="img-container-line line-2"></div>
	            			<div class="img-container-line line-3"></div>
	            		</div>
	            	</div>
	            	<div class="col-sm-6 block-2-box block-2-right wow fadeInUp">
	            		<h3>We love web design</h3>
	            		<p>
	            			Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
	            			lobortis nisl ut aliquip ex ea commodo consequat.
	            		</p>
	            		<ul>
	            			<li>
	            				<span aria-hidden="true" class="icon_check list-icon"></span> Etiam processus dynamicus qui
	            			</li>
	            			<li>
	            				<span aria-hidden="true" class="icon_check list-icon"></span> Quam nunc putamus Photoshop
	            			</li>
	            			<li>
	            				<span aria-hidden="true" class="icon_check list-icon"></span> Mutationem consuetudium WordPress
	            			</li>
	            			<li>
	            				<span aria-hidden="true" class="icon_check list-icon"></span> Exerci tation ullamcorper
	            			</li>
	            		</ul>
	            	</div>
	            </div>
	        </div>
        </div> -->

        <!-- Block 2 -->
        <!-- <div class="block-2-container section-container section-container-gray">
	        <div class="container">
	            <div class="row">
	            	<div class="col-sm-6 block-2-box block-2-left wow fadeInLeft">
	            		<h3>We design interfaces</h3>
	            		<p>
	            			Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
	            			lobortis nisl ut aliquip ex ea commodo consequat.
	            		</p>
	            		<ul>
	            			<li>
	            				<span aria-hidden="true" class="icon_check list-icon"></span> Etiam processus dynamicus qui
	            			</li>
	            			<li>
	            				<span aria-hidden="true" class="icon_check list-icon"></span> Quam nunc putamus Photoshop
	            			</li>
	            			<li>
	            				<span aria-hidden="true" class="icon_check list-icon"></span> Mutationem consuetudium WordPress
	            			</li>
	            			<li>
	            				<span aria-hidden="true" class="icon_check list-icon"></span> Exerci tation ullamcorper
	            			</li>
	            		</ul>
	            	</div>
	            	<div class="col-sm-6 block-2-box block-2-right block-2-media wow fadeInUp">
	            		<div class="block-2-img-container">
	            			<img src="assets/img/about/5.jpg" alt="" data-at2x="assets/img/about/5.jpg">
	            			<div class="img-container-line line-1"></div>
	            			<div class="img-container-line line-2"></div>
	            			<div class="img-container-line line-3"></div>
	            		</div>
	            	</div>
	            </div>
	        </div>
        </div> -->

        <!-- <app-counters></app-counters> -->

        <app-portfolio></app-portfolio>

		<!-- Block 2 -->
        <!-- <div class="block-2-container section-container section-container-gray">
	        <div class="container">
	            <div class="row">
	            	<div class="col-sm-6 block-2-box block-2-left wow fadeInLeft">
	            		<h3>How we do it?</h3>
	            		<p>
	            			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
	            			incididunt ut labore et dolore magna.
	            		</p>
	            		<ul>
	            			<li>
	            				<span aria-hidden="true" class="icon_plus list-icon"></span> Etiam processus dynamicus qui
	            			</li>
	            			<li>
	            				<span aria-hidden="true" class="icon_plus list-icon"></span> Quam nunc putamus Photoshop
	            			</li>
	            			<li>
	            				<span aria-hidden="true" class="icon_plus list-icon"></span> Mutationem consuetudium WordPress
	            			</li>
	            			<li>
	            				<span aria-hidden="true" class="icon_plus list-icon"></span> Exerci tation ullamcorper
	            			</li>
	            		</ul>
	            	</div>
	            	<div class="col-sm-6 block-2-box block-2-right block-2-media wow fadeInUp">
	            		<div class="video-box">
		                    <div class="embed-responsive embed-responsive-16by9">
		                    	<iframe class="embed-responsive-item" src="//player.vimeo.com/video/115014610?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		                    </div>
	                    </div>
	            	</div>
	            </div>
	        </div>
        </div> -->

        <!-- <app-motto></app-motto> -->


        <app-pricing></app-pricing>

        <app-testimonials></app-testimonials>

        <!-- <app-call-to-action></app-call-to-action> -->

<app-about></app-about>

<app-contact></app-contact>

<app-footer></app-footer>
