<div id="testimonios" class="page">

  <h1 class="page-header remove-margin">
      Testimonios
  </h1>

  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>Name</th>
              <th>Status</th>
              <th>IP</th>
              <th>Date</th>
              <th style="width:400px;">Comment</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                <a href="#">Mark Zuckerberg</a>
              </td>
              <td>
                  <b class="text-warning">Pending</b>
              </td>
              <td>192.168.1.54</td>
              <td>2015-02-02</td>
              <td>Excellent professional, It is definitely a great compnay and very hard at work.</td>
          </tr>
          <tr>
              <td>
                <a href="#">Larry Page</a>
              </td>
              <td>
                  <b class="text-success">Approved</b>
              </td>
              <td>192.168.1.5</td>
              <td>2015-02-02</td>
              <td>Amnick is a very professional company, you can tell they know the subject and I am very happy with the projects that they have done to me.</td>
          </tr>

      </tbody>
  </table>
</div>
