<div id="estudios" class="page">

  <h1 class="page-header remove-margin">
      <a class="btn btn-primary pull-right" href="#">Add</a>
      Projects Developed
  </h1>

  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>Company</th>
              <th>Address</th>
              <th>From</th>
              <th>To</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                <a href="#">Company A</a>
              </td>
              <td>Address A</td>
              <td>2015-02-02</td>
              <td>2015-05-02</td>
          </tr>
          <tr>
              <td>
                <a href="#">Company B</a>
              </td>
              <td>Address B</td>
              <td>2015-02-02</td>
              <td>2015-05-02</td>
          </tr>
      </tbody>
  </table>
</div>
