input, select, textarea{
  color: rgb(70, 70, 70);
}
::placeholder { /* Most modern browsers support this now. */
  color:    rgb(167, 158, 167) !important;
}
<<<<<<< HEAD

img{
  width:50px;
  height:50px;
}


=======
>>>>>>> 07772d4b5aab6335568c68094c6cab6ca4bcd58c
